### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Java ###
*.class

### Windows ###
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.swp

### Eclipse ###
.settings/
build/
.project

### project ###
readme.txt
build.xml

